################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorTest/bin/Debug/net8.0
/BlazorTest/obj
